@mixin transparent-button($color, $background-color) {
    width: 40px;
    padding: $padding-half;
    border: 0;
    outline: 0;
    background: $background-color;
    color: $color;
    font-family: $font-standard;
    font-size: $font-size-normal;

    &:hover {
        background: $background-transparent-dark;
    }
}

@mixin input($type) {
    width: 10%;
    border: 0;
    border-bottom: 2px solid $color-white;
    outline: 0;
    background: transparent;
    font-family: $font-standard;
    font-size: $font-size-large;
    font-weight: lighter;
    color: $color-white;
    text-align: center;
    transition: .5s width ease-in-out;

    &:focus {
        width: 50%;
    }
}