// variables
$color-transparent-dark: rgba(0,0,0,.7);
$color-transparent-light: rgba(220,220,220,.8);
$color-transparent-bright: rgba(250,250,250,0.85);
$color-transparent-medium: rgba(255,255,255,.5);

$background-transparent-dark: rgba(0,0,0,0.2);
$background-dark: #18191b;

$color-white: #fff;
$color-black: #000;

$slim-shady-from: rgba(0, 0, 0, 0.1);
$slim-shady-to: rgba(0, 0, 0, 0.5);
$slim-shady-direction: to top right; //to top right

$font-standard: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-standard;
    color: $color-transparent-dark;
    background: $color-black;
}

.main {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    z-index: -2;
    // background: linear-gradient(to bottom right, rgba(70, 10, 10, 1), rgb(42, 42, 64));
    background: url('../img/background3.jpeg') center no-repeat;
    background-size: cover;
    animation: 1s ease-in-out fadeIn;

    @media only screen and (min-width: 600px) {
        position: absolute;
    }

    .slim-shady {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient($slim-shady-direction, $slim-shady-from, $slim-shady-to);
    }

    .top {
        &-left {
            top: 0;
            left: 0;
            padding: 20px;
            animation: 2s ease-in-out fadeRight;
        }
        &-center {
            left: 50%;
            transform: translateX(-50%);
            animation: 2s ease-in-out fadeDown;
            text-align: center;
        }
        &-right {
            top: 0;
            right: 0;
            padding: 20px;
        }
    }
    .center {
        display: block;
        text-align: center;
        animation: bottomMoveUp ease-in-out 2s;
        
        @media only screen and (min-width: 600px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .bottom-center {
        position: relative;
        bottom: 0;
        padding: 20px;
        animation: bottomMoveUp 2s ease-in-out, opacity 1s ease-in-out 1s;

        @media only screen and (min-width: 600px) {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
}

.coins {
    width: 100%;
    background: $background-transparent-dark;
    color: $color-transparent-light;
    font-size: 16px;

    @media only screen and (min-width: 600px) {
        position: absolute;
        width: auto;
        font-size: 18px;
    }

    .coin-item {
        display: flex;

        &-data {
            padding: 20px;
            flex-grow: 1;
        }
    }

    .coin-price {
        color: $color-transparent-bright;
    }
    .last-updated {
        color: $color-transparent-medium;
        font-size: 14px;
    }
}

.weather {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: $color-transparent-light;

    &-icon {
        opacity: 0.9;
    }

    @media only screen and (min-width: 600px) {
        font-size: 30px;
    }
}

.clock {
    animation: 4s opacity ease-in-out;

    .clock-item {
        display: inline-block;
    }

    .smaller {
        font-size: 20px;
        color: $color-transparent-light;

        @media only screen and (min-width: 600px) {
            font-size: 70px;
        }
    }

    .small {
        font-size: 30px;
        color: $color-transparent-light;

        @media only screen and (min-width: 600px) {
            font-size: 90px;
        }
    }

    .larger {
        color: $color-white;
        font-size: 120px;

        @media only screen and (min-width: 600px) {
            font-size: 200px;
        }
    }
}

.start-text {
    margin-top: 20px;
    padding: 0 20px;
    color: $color-transparent-light;
    font-size: 30px;
    animation: opacity 3s ease-in-out;

    @media only screen and (min-width: 600px) {
        font-size: 50px;
    }
    
}

// text-colors

.green {
    color: #88cf88;
}

.red {
    color: #ff6d6d;
}

// text-shadow

.text-shadow {
    text-shadow: 0 0 60px #000;
}

// CSSAnimations

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes bottomMoveUp {
    0% { bottom: -200px; }
    100% { bottom: 0; }
}

@keyframes fadeRight {
    0% { left: -10%; }
    100%{ left: auto; }
}