// variables
$color-transparent-dark: rgba(0,0,0,0.7);
$color-transparent-light: rgba(200,200,200,0.8);
$color-background: #18191b;

$font-standard: 'Roboto', sans-serif;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-standard;
    //background: url('../img/background.jpeg');
    background: linear-gradient(to bottom right, rgba(195, 49, 199, 0.7), rgb(42, 42, 64));
    background-size: cover;
    color: $color-transparent-dark;
}

.main {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, $color-transparent-dark, rgba(0,0,0,0.1));
    background: linear-gradient(to bottom right, rgba(70, 10, 10, 1), rgb(42, 42, 64));

    
    .top-left {
        position: absolute;
        top: 0;
        left: 0;
        animation: 2s ease-in-out fadeRight;
    }
    .top-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        animation: 2s ease-in-out fadeDown;
    }
    .top-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    .center {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
    }
}

.weather {
    color: $color-transparent-light;
    font-size: 20px;
    padding: 20px;
}

.weather-icon {
    opacity: 0.9;
}

.clock {
    color: #fff;
    font-size: 200px;
    animation: 2.5s ease fadeDown;
}

.salutation {
    margin-top: 20px;
    color: $color-transparent-light;
    font-size: 32px;
    animation: 2s ease-in-out opacity;
}

.text-shadow {
    text-shadow: 0 0 100px #000;
}

@keyframes opacity {
    0% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeDown {
    0% {
        margin-bottom: 200px;
        opacity: 0;
    }
    50% {opacity: 0;}
    100% {
        margin-bottom: 0;
        opacity: 1;
    }
}

@keyframes fadeRight {
    0% {left: -10%;
        opacity: 0;}
    100%{left: 0;
        opacity: 1;}
}